# Pandas Playbook of Time Series Data

**Date and Time Data Types and Tools**

In [3]:
# Importing required modules/libraries like pandas and numpy
import pandas as pd
import numpy as np

# Importing time specific library named datetime
from datetime import datetime

# Fetching cuurent time (human readable timestamp) from system
now = datetime.now()
now

datetime.datetime(2023, 5, 2, 22, 34, 25, 712730)

In [4]:
# Fetching the current year, month and day
now.year,now.month,now.day

(2023, 5, 2)

In [6]:
# Calculating the difference between two date using basic method
delta = datetime(2023,5,2)-datetime(2023,4,2)
delta

datetime.timedelta(days=30)

In [8]:
# Calculating the difference between two timestamp using basic method
# syntax: datetime(YYYY,MM,DD,HH,MM,SS)
delta = datetime(2023,5,2, 11,24,56)-datetime(2023,4,2,19,57,22)
delta

datetime.timedelta(days=29, seconds=55654)

In [9]:
# Fetching the difference in days and seconds separately
delta.days,delta.seconds

(29, 55654)

**Arithmetic of Time (Addition and Substraction)**

In [14]:
# Fetching timedelta library for time series arithmetic
# syntax: timedelta(DD,SS)
# Addition
from datetime import timedelta
start = datetime(2023,4,24)
end = start + timedelta(12,5557)
end

datetime.datetime(2023, 5, 6, 1, 32, 37)

In [16]:
# Substraction
from datetime import timedelta
start = datetime(2023,4,24)
end = start - timedelta(25,8457)
end

datetime.datetime(2023, 3, 29, 21, 39, 3)

**Converting Between String and Datetime**

In [17]:
# Converting date-timestamp to string 
timestamp = datetime(2023,4,25)
str(timestamp)

'2023-04-25 00:00:00'

In [39]:
# Converting date-timestamp to string in desired format using strftime function
#format: YYYY-MM-DD
timestamp = datetime(2023,4,25)
print(timestamp.strftime('%Y-%m-%d'))

#format: YY-MM-DD
timestamp = datetime(2023,4,25)
print(timestamp.strftime('%y-%m-%d'))

#format: Weekday as Integer[0(Sunday),6(Saturday)]
timestamp = datetime(2023,4,25)
print(timestamp.strftime('%w'))

#format: Week of the year considering Monday as first day of the week
timestamp = datetime(2023,4,25)
print(timestamp.strftime('%W'))

#format: Week of the year considering Sunday as first day of the week
timestamp = datetime(2023,4,25)
print(timestamp.strftime('%U'))

#format: %m/%d/%y
timestamp = datetime(2023,4,25)
print(timestamp.strftime('%D'))

#format: Abbreviated Weekday Name
timestamp = datetime(2023,4,25)
print(timestamp.strftime('%a'))

#format: Full Weekday Name
timestamp = datetime(2023,4,25)
print(timestamp.strftime('%A'))

#format: Abbreviated Month Name
timestamp = datetime(2023,4,25)
print(timestamp.strftime('%b'))

#format: Full Month Name
timestamp = datetime(2023,4,25)
print(timestamp.strftime('%B'))

#format: Full date and time (e.g., ‘Tue 01 May 2012 04:20:57 PM’)
timestamp = datetime(2023,4,25)
print(timestamp.strftime('%c'))

2023-04-25
23-04-25
2
17
17
04/25/23
Tue
Tuesday
Apr
April
Tue Apr 25 00:00:00 2023

In [40]:
# Converting string to date-timestamp in desired format using strptime function

#format: YYYY-MM-DD
value = '2023-04-25'
print(datetime.strptime(value,'%Y-%m-%d'))

2023-04-25 00:00:00

**Time Series Basics**

In [41]:
# Creating a series of data with datetime index

from datetime import datetime 
dates = [datetime(2022,1,1),datetime(2022,1,2),datetime(2022,1,3),datetime(2022,1,4),datetime(2022,1,5),datetime(2022,1,6)]
value = np.random.randn(6)
ts = pd.Series(value,index=dates)
ts

2022-01-01    0.488721
2022-01-02   -0.374083
2022-01-03   -0.899246
2022-01-04    0.242976
2022-01-05    0.060704
2022-01-06    1.252940
dtype: float64

In [42]:
# fetching every next entries from the series
ts[::2]

2022-01-01    0.488721
2022-01-03   -0.899246
2022-01-05    0.060704
dtype: float64

In [43]:
# fetching entries in reverse order from the series
ts[::-1]

2022-01-06    1.252940
2022-01-05    0.060704
2022-01-04    0.242976
2022-01-03   -0.899246
2022-01-02   -0.374083
2022-01-01    0.488721
dtype: float64

In [46]:
# fetching entries basis index
ts.index[4]

Timestamp('2022-01-05 00:00:00')

**Indexing Selection and Subsetting**

In [50]:
# fetching entries using index
stamp = ts.index[2]
print(ts[stamp])

# fetching entries using index values
print(ts['1/1/2022'])

-0.8992464786133106
0.4887213021923395

In [52]:
# creating long time series data 
date_range = pd.date_range('1/1/2022', periods=500)
values = np.random.randn(500)
data = pd.Series(values, index=date_range)
data

2022-01-01   -0.082580
2022-01-02   -0.267126
2022-01-03    0.462575
2022-01-04   -0.703955
2022-01-05   -2.296333
                ...
2023-05-11    2.115001
2023-05-12   -0.399202
2023-05-13    0.127381
2023-05-14    0.966112
2023-05-15   -0.812335
Freq: D, Length: 500, dtype: float64

In [54]:
# fetching data basis the year
data['2022']

2022-01-01   -0.082580
2022-01-02   -0.267126
2022-01-03    0.462575
2022-01-04   -0.703955
2022-01-05   -2.296333
                ...
2022-12-27    0.607859
2022-12-28    0.429282
2022-12-29    1.090347
2022-12-30    0.037276
2022-12-31   -0.519796
Freq: D, Length: 365, dtype: float64

In [55]:
# fetching data basis the year-month
data['2022-05']

2022-05-01   -0.592017
2022-05-02   -1.719118
2022-05-03    1.918584
2022-05-04    0.730886
2022-05-05   -0.828199
2022-05-06    0.706759
2022-05-07    0.957560
2022-05-08   -0.922862
2022-05-09   -0.493969
2022-05-10   -1.397988
2022-05-11    0.581185
2022-05-12   -1.135315
2022-05-13    0.447973
2022-05-14    0.504513
2022-05-15    0.740292
2022-05-16   -0.074889
2022-05-17   -0.805289
2022-05-18   -1.312182
2022-05-19   -1.473844
2022-05-20    0.394513
2022-05-21    1.076669
2022-05-22   -0.543890
2022-05-23   -0.359323
2022-05-24   -0.867117
2022-05-25    1.389191
2022-05-26   -0.527040
2022-05-27   -1.807867
2022-05-28    1.136440
2022-05-29   -0.181894
2022-05-30   -0.875220
2022-05-31    0.701121
Freq: D, dtype: float64

In [56]:
# slicing with datetime
data[datetime(2022,10,1):]

2022-10-01   -0.470543
2022-10-02   -1.187508
2022-10-03    1.867044
2022-10-04   -0.635950
2022-10-05   -0.097110
                ...
2023-05-11    2.115001
2023-05-12   -0.399202
2023-05-13    0.127381
2023-05-14    0.966112
2023-05-15   -0.812335
Freq: D, Length: 227, dtype: float64

In [59]:
# slicing with datetime between two date ranges
data[datetime(2022,10,1):datetime(2023,2,20)]

2022-10-01   -0.470543
2022-10-02   -1.187508
2022-10-03    1.867044
2022-10-04   -0.635950
2022-10-05   -0.097110
                ...
2023-02-16    0.955295
2023-02-17    0.055366
2023-02-18   -1.901006
2023-02-19   -1.333325
2023-02-20    0.241974
Freq: D, Length: 143, dtype: float64

**Date Ranges, Frequencies and Shifting**

In [61]:
# Generatimg Date Ranges
df = pd.date_range('2022-01-01','2023-01-01')
df

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-12-23', '2022-12-24', '2022-12-25', '2022-12-26',
               '2022-12-27', '2022-12-28', '2022-12-29', '2022-12-30',
               '2022-12-31', '2023-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [64]:
# Generatimg Date Ranges for n periods (days) with start date
df = pd.date_range(start='2022-01-01',periods=50)
df

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01',
               '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-05',
               '2022-02-06', '2022-02-07', '2022-02-08', '2022-02-09',
               '2022-02-10', '2022-02-11', '2022-02-12', '2022-02-13',
               '2022-02-14', '2022-02-15', '2022-02-16', '2022-02-17',
               '2022-02-18', '2022-02-19'],
              dtype='datetime64[ns]', freq='D')

In [65]:
# Generatimg Date Ranges for n periods (days) with end date
df = pd.date_range(end='2022-01-01',periods=50)
df

DatetimeIndex(['2021-11-13', '2021-11-14', '2021-11-15', '2021-11-16',
               '2021-11-17', '2021-11-18', '2021-11-19', '2021-11-20',
               '2021-11-21', '2021-11-22', '2021-11-23', '2021-11-24',
               '2021-11-25', '2021-11-26', '2021-11-27', '2021-11-28',
               '2021-11-29', '2021-11-30', '2021-12-01', '2021-12-02',
               '2021-12-03', '2021-12-04', '2021-12-05', '2021-12-06',
               '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10',
               '2021-12-11', '2021-12-12', '2021-12-13', '2021-12-14',
               '2021-12-15', '2021-12-16', '2021-12-17', '2021-12-18',
               '2021-12-19', '2021-12-20', '2021-12-21', '2021-12-22',
               '2021-12-23', '2021-12-24', '2021-12-25', '2021-12-26',
               '2021-12-27', '2021-12-28', '2021-12-29', '2021-12-30',
               '2021-12-31', '2022-01-01'],
              dtype='datetime64[ns]', freq='D')

In [67]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Days
df = pd.date_range(start='2023-01-01',periods=10, freq='D' )
df

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [68]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Business Days
df = pd.date_range(start='2023-01-01',periods=10, freq='B' )
df

DatetimeIndex(['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05',
               '2023-01-06', '2023-01-09', '2023-01-10', '2023-01-11',
               '2023-01-12', '2023-01-13'],
              dtype='datetime64[ns]', freq='B')

In [71]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Hours
df = pd.date_range(start='2023-01-01',periods=10, freq='H' )
df

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 01:00:00',
               '2023-01-01 02:00:00', '2023-01-01 03:00:00',
               '2023-01-01 04:00:00', '2023-01-01 05:00:00',
               '2023-01-01 06:00:00', '2023-01-01 07:00:00',
               '2023-01-01 08:00:00', '2023-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [69]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Minutes
df = pd.date_range(start='2023-01-01',periods=10, freq='T' )
df

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 00:01:00',
               '2023-01-01 00:02:00', '2023-01-01 00:03:00',
               '2023-01-01 00:04:00', '2023-01-01 00:05:00',
               '2023-01-01 00:06:00', '2023-01-01 00:07:00',
               '2023-01-01 00:08:00', '2023-01-01 00:09:00'],
              dtype='datetime64[ns]', freq='T')

In [70]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Seconds
df = pd.date_range(start='2023-01-01',periods=10, freq='S' )
df

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 00:00:01',
               '2023-01-01 00:00:02', '2023-01-01 00:00:03',
               '2023-01-01 00:00:04', '2023-01-01 00:00:05',
               '2023-01-01 00:00:06', '2023-01-01 00:00:07',
               '2023-01-01 00:00:08', '2023-01-01 00:00:09'],
              dtype='datetime64[ns]', freq='S')

In [72]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: MonthEnd
df = pd.date_range(start='2023-01-01',periods=10, freq='M' )
df

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-30', '2023-10-31'],
              dtype='datetime64[ns]', freq='M')

In [73]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Business MonthEnd
df = pd.date_range(start='2023-01-01',periods=10, freq='BM' )
df

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-28',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-29', '2023-10-31'],
              dtype='datetime64[ns]', freq='BM')

In [74]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Month Begin
df = pd.date_range(start='2023-01-01',periods=10, freq='MS' )
df

DatetimeIndex(['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',
               '2023-09-01', '2023-10-01'],
              dtype='datetime64[ns]', freq='MS')

In [76]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Business Month Begin
df = pd.date_range(start='2023-01-01',periods=10, freq='BMS' )
df

DatetimeIndex(['2023-01-02', '2023-02-01', '2023-03-01', '2023-04-03',
               '2023-05-01', '2023-06-01', '2023-07-03', '2023-08-01',
               '2023-09-01', '2023-10-02'],
              dtype='datetime64[ns]', freq='BMS')

In [77]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Weekly on given day of week
df = pd.date_range(start='2023-01-01',periods=10, freq='W-Tue' )
df

DatetimeIndex(['2023-01-03', '2023-01-10', '2023-01-17', '2023-01-24',
               '2023-01-31', '2023-02-07', '2023-02-14', '2023-02-21',
               '2023-02-28', '2023-03-07'],
              dtype='datetime64[ns]', freq='W-TUE')

In [78]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: WeekOfMonth
df = pd.date_range(start='2023-01-01',periods=10, freq='WOM-2FRI' )
df

DatetimeIndex(['2023-01-13', '2023-02-10', '2023-03-10', '2023-04-14',
               '2023-05-12', '2023-06-09', '2023-07-14', '2023-08-11',
               '2023-09-08', '2023-10-13'],
              dtype='datetime64[ns]', freq='WOM-2FRI')

In [79]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Quarter End
df = pd.date_range(start='2023-01-01',periods=10, freq='Q-JAN' )
df

DatetimeIndex(['2023-01-31', '2023-04-30', '2023-07-31', '2023-10-31',
               '2024-01-31', '2024-04-30', '2024-07-31', '2024-10-31',
               '2025-01-31', '2025-04-30'],
              dtype='datetime64[ns]', freq='Q-JAN')

In [80]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Business Quarter End
df = pd.date_range(start='2023-01-01',periods=10, freq='BQ-JAN' )
df

DatetimeIndex(['2023-01-31', '2023-04-28', '2023-07-31', '2023-10-31',
               '2024-01-31', '2024-04-30', '2024-07-31', '2024-10-31',
               '2025-01-31', '2025-04-30'],
              dtype='datetime64[ns]', freq='BQ-JAN')

In [81]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Quarter Begin
df = pd.date_range(start='2023-01-01',periods=10, freq='QS-JAN' )
df

DatetimeIndex(['2023-01-01', '2023-04-01', '2023-07-01', '2023-10-01',
               '2024-01-01', '2024-04-01', '2024-07-01', '2024-10-01',
               '2025-01-01', '2025-04-01'],
              dtype='datetime64[ns]', freq='QS-JAN')

In [83]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Business Quarter Begin
df = pd.date_range(start='2023-01-01',periods=10, freq='BQS-JAN' )
df

DatetimeIndex(['2023-01-02', '2023-04-03', '2023-07-03', '2023-10-02',
               '2024-01-01', '2024-04-01', '2024-07-01', '2024-10-01',
               '2025-01-01', '2025-04-01'],
              dtype='datetime64[ns]', freq='BQS-JAN')

In [84]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Year End
df = pd.date_range(start='2023-01-01',periods=10, freq='A-JAN' )
df

DatetimeIndex(['2023-01-31', '2024-01-31', '2025-01-31', '2026-01-31',
               '2027-01-31', '2028-01-31', '2029-01-31', '2030-01-31',
               '2031-01-31', '2032-01-31'],
              dtype='datetime64[ns]', freq='A-JAN')

In [86]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Business Year End
df = pd.date_range(start='2023-01-01',periods=10, freq='BA-JAN' )
df

DatetimeIndex(['2023-01-31', '2024-01-31', '2025-01-31', '2026-01-30',
               '2027-01-29', '2028-01-31', '2029-01-31', '2030-01-31',
               '2031-01-31', '2032-01-30'],
              dtype='datetime64[ns]', freq='BA-JAN')

In [87]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Year Begin
df = pd.date_range(start='2023-01-01',periods=10, freq='AS-JAN' )
df

DatetimeIndex(['2023-01-01', '2024-01-01', '2025-01-01', '2026-01-01',
               '2027-01-01', '2028-01-01', '2029-01-01', '2030-01-01',
               '2031-01-01', '2032-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

In [88]:
# Generatimg Date Ranges for n periods (days) with defined frequencies
# frequency: Business Year Begin
df = pd.date_range(start='2023-01-01',periods=10, freq='BAS-JAN' )
df

DatetimeIndex(['2023-01-02', '2024-01-01', '2025-01-01', '2026-01-01',
               '2027-01-01', '2028-01-03', '2029-01-01', '2030-01-01',
               '2031-01-01', '2032-01-01'],
              dtype='datetime64[ns]', freq='BAS-JAN')

**Sometimes you will have start or end dates with time information but want to generate a set of timestamps normalized to midnight as a convention. To do this, there is a normalize option**

In [91]:
# Creating Normalized Data
df=pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)
df

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

**Frequencies**

In [92]:
# Creating the data at the frequency of "1 Hour 30 minutes"
df=pd.date_range('2023-01-01 00:15:23', periods=10, freq='1h30min')
df

DatetimeIndex(['2023-01-01 00:15:23', '2023-01-01 01:45:23',
               '2023-01-01 03:15:23', '2023-01-01 04:45:23',
               '2023-01-01 06:15:23', '2023-01-01 07:45:23',
               '2023-01-01 09:15:23', '2023-01-01 10:45:23',
               '2023-01-01 12:15:23', '2023-01-01 13:45:23'],
              dtype='datetime64[ns]', freq='90T')

In [95]:
# Creating the data at the frequency of "52 minutes 27 seconds"
df=pd.date_range('2023-01-01 00:15:23', periods=10, freq='52min27s')
df

DatetimeIndex(['2023-01-01 00:15:23', '2023-01-01 01:07:50',
               '2023-01-01 02:00:17', '2023-01-01 02:52:44',
               '2023-01-01 03:45:11', '2023-01-01 04:37:38',
               '2023-01-01 05:30:05', '2023-01-01 06:22:32',
               '2023-01-01 07:14:59', '2023-01-01 08:07:26'],
              dtype='datetime64[ns]', freq='3147S')

In [96]:
# Creating the data at the frequency of "4 Hours"
df=pd.date_range('2023-01-01 00:15:23', periods=10, freq='4h')
df

DatetimeIndex(['2023-01-01 00:15:23', '2023-01-01 04:15:23',
               '2023-01-01 08:15:23', '2023-01-01 12:15:23',
               '2023-01-01 16:15:23', '2023-01-01 20:15:23',
               '2023-01-02 00:15:23', '2023-01-02 04:15:23',
               '2023-01-02 08:15:23', '2023-01-02 12:15:23'],
              dtype='datetime64[ns]', freq='4H')

In [97]:
# Creating the data at the frequency of Week of Month 2nd Friday
df=pd.date_range('2023-01-01 00:15:23', periods=10, freq='WOM-2FRI')
df

DatetimeIndex(['2023-01-13 00:15:23', '2023-02-10 00:15:23',
               '2023-03-10 00:15:23', '2023-04-14 00:15:23',
               '2023-05-12 00:15:23', '2023-06-09 00:15:23',
               '2023-07-14 00:15:23', '2023-08-11 00:15:23',
               '2023-09-08 00:15:23', '2023-10-13 00:15:23'],
              dtype='datetime64[ns]', freq='WOM-2FRI')

**Shifting (Leading and Lagging) Data**

In [100]:
# Creating a data set and attempting downward shifting by 3 values
date=pd.date_range('2023-01-01', periods=10,freq='D')
values = np.random.randn(10)
data=pd.Series(values,index=date)
print(data)
print(data.shift(3))

2023-01-01    2.443181
2023-01-02    1.326219
2023-01-03   -0.811141
2023-01-04   -0.253462
2023-01-05   -0.923018
2023-01-06    0.180473
2023-01-07   -1.117138
2023-01-08    0.784072
2023-01-09   -0.734389
2023-01-10    0.778559
Freq: D, dtype: float64
2023-01-01         NaN
2023-01-02         NaN
2023-01-03         NaN
2023-01-04    2.443181
2023-01-05    1.326219
2023-01-06   -0.811141
2023-01-07   -0.253462
2023-01-08   -0.923018
2023-01-09    0.180473
2023-01-10   -1.117138
Freq: D, dtype: float64

In [101]:
# Creating a data set and attempting downward shifting by 5 values
date=pd.date_range('2023-01-01', periods=10,freq='D')
values = np.random.randn(10)
data=pd.Series(values,index=date)
print(data)
print(data.shift(-5))

2023-01-01    0.609443
2023-01-02    0.234002
2023-01-03   -1.021954
2023-01-04    0.626717
2023-01-05    0.256433
2023-01-06    0.665354
2023-01-07   -0.296114
2023-01-08    1.182366
2023-01-09   -0.359084
2023-01-10   -0.313615
Freq: D, dtype: float64
2023-01-01    0.665354
2023-01-02   -0.296114
2023-01-03    1.182366
2023-01-04   -0.359084
2023-01-05   -0.313615
2023-01-06         NaN
2023-01-07         NaN
2023-01-08         NaN
2023-01-09         NaN
2023-01-10         NaN
Freq: D, dtype: float64

**Time Zone Handling**

In [102]:
# fetching required library for Time Zone Operations
import pytz as tz

In [104]:
# checking available common timezones to play with
tz.common_timezones[:]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Ciudad_Juarez',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Fort_Nelson',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Nuuk',
 'America/Ojinaga',
 'America/Panama',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Colombo',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kathmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Riyadh',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ulaanbaatar',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faroe',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/Perth',
 'Australia/Sydney',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kirov',
 'Europe/Kyiv',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Ulyanovsk',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zurich',
 'GMT',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Kanton',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Wake',
 'Pacific/Wallis',
 'US/Alaska',
 'US/Arizona',
 'US/Central',
 'US/Eastern',
 'US/Hawaii',
 'US/Mountain',
 'US/Pacific',
 'UTC']

In [111]:
# checking the current timezone and relation with UTC/GMT
timezone=tz.timezone('Asia/Kolkata')
timezone

In [115]:
# Generating Date Ranges with setting the Time Zones as UTC
values = np.random.randn(10)
dates = pd.date_range('2023-01-01 05:00:12',periods=10, freq='D', tz='UTC')
data=pd.Series(values, index=dates)
data

2023-01-01 05:00:12+00:00    0.101110
2023-01-02 05:00:12+00:00    1.033769
2023-01-03 05:00:12+00:00   -0.018678
2023-01-04 05:00:12+00:00   -0.750020
2023-01-05 05:00:12+00:00   -1.095377
2023-01-06 05:00:12+00:00    0.021985
2023-01-07 05:00:12+00:00    1.086440
2023-01-08 05:00:12+00:00   -0.026534
2023-01-09 05:00:12+00:00   -1.354494
2023-01-10 05:00:12+00:00   -2.665464
Freq: D, dtype: float64

In [119]:
# Convert the Time Zone to Asia/Kolkata
data=data.tz_convert('Asia/Kolkata')
data

2023-01-01 10:30:12+05:30    0.101110
2023-01-02 10:30:12+05:30    1.033769
2023-01-03 10:30:12+05:30   -0.018678
2023-01-04 10:30:12+05:30   -0.750020
2023-01-05 10:30:12+05:30   -1.095377
2023-01-06 10:30:12+05:30    0.021985
2023-01-07 10:30:12+05:30    1.086440
2023-01-08 10:30:12+05:30   -0.026534
2023-01-09 10:30:12+05:30   -1.354494
2023-01-10 10:30:12+05:30   -2.665464
Freq: D, dtype: float64

**Periods and Period Arithmetic**

In [122]:
# creating a period
p=pd.Period(2022,freq='A-DEC')
p

Period('2022', 'A-DEC')

In [125]:
# Period Arithmetics
print(p+5)
print(p-2)
print(pd.Period(2034,freq='A-DEC')-p)

2027
2020
<12 * YearEnds: month=12>

**Period Frequency Conversion**

In [126]:
# Creating a period
p=pd.Period(2007, freq='A-DEC')
p

Period('2007', 'A-DEC')

In [127]:
# Converting the period frequency to start of the year
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [128]:
# Converting the period frequency to end of the year
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [129]:
# Converting the period frequency to A-JUN
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [136]:
# Converting Timestamp to Period Month
p=pd.date_range('1/1/2022',periods=1)
p.to_period('M')

PeriodIndex(['2022-01'], dtype='period[M]')

In [137]:
# Converting Timestamp to Period A-JUN
p=pd.date_range('1/1/2022',periods=1)
p.to_period('A-JUN')

PeriodIndex(['2022'], dtype='period[A-JUN]')

In [139]:
#Converting period to Timestamp
pd=p.to_period('M')
ts=pd.to_timestamp(how='start')
ts

DatetimeIndex(['2022-01-01'], dtype='datetime64[ns]', freq=None)